nav {
  position: fixed;
  width: 240px;
  height: 100vh;
  padding: 40px 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

.active a {
  color: #64ffda;
}
