<div class="space-y-4">
    @for (experience of experiences; track experience) {
        <div class="p-4 flex flex-row gap-15 rounded-md hover:bg-slate-800/40 hover:shadow-xl hover:ring-2 hover:ring-slate-800">
            <h3 class="whitespace-nowrap">{{ experience.startDate }} - {{ experience.endDate }}</h3>
            <div class="flex flex-col gap-4">
                <h3 class="text-slate-200">{{ experience.title }}, {{ experience.company }}</h3>
                <ul class="list-disc pl-4.5 space-y-1 text-sm">
                    @for (task of experience.tasks; track task) {
                        <li>{{ task }}</li>
                    }
                </ul>
                <div class="flex flex-row gap-1">
                    @for (tech of experience.techs; track tech) {
                        <div class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300">
                            {{tech }}
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>



