.layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

main {
  max-width: 1280px;
}

@media (max-width: 900px) {
  .layout {
    flex-direction: column;
  }
  main {
    margin-left: 0;
    padding: 20px;
  }
}
