<div class="space-y-4">
    @for (project of projects; track project) {
        <div class="p-4 flex flex-row gap-15 rounded-md hover:bg-slate-800/40 hover:shadow-xl hover:ring-2 hover:ring-slate-800">
            <div class="flex flex-col gap-4">
                <h3 class="whitespace-nowrap">{{ project.name }}</h3>
            </div>
            <div class="flex flex-col gap-4">
                <pre class="whitespace-pre-wrap">{{ project.description }}</pre>
                <div class="flex flex-row gap-1">
                    @for (tech of project.techs; track tech) {
                        <div class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300">
                            {{ tech }}
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>